<body class="w3-blue">
        <div>
                <div class="form">
                <p> Sign Up Here!</p>
                <form class="login-form" action="/specific linked function" method=POST>
                    <input type="input" name="input" placeholder="Specific to page">
                    <a input type="submit" value="Submit" class="btn btn-primary btn-large btn-block" href = "http://127.0.0.1:5000/insertNextPageHere">
                    
                </form>
               
                </div>
            </div>
    </body>
