<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" type="text/css" href="signinstyl.css">
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>

    <body class="w3-blue">
        <div>
                <div class="form">
                <form class="login-form w3-blue" action="/login" method=POST>
                    <input type="username" name="username" placeholder="Username">
                    <input type="password" name="password" placeholder="Password">
                    <button>create</button>
                    <a input type="submit" value="Submit" class="btn btn-primary btn-large btn-block" href="http://127.0.0.1:5000/homePageForUser">
                </form>
                
                    <p class="message">Not registered? <a href="#" >Create an account</a></p>
                </div>
            </div>
    </body>

</html>